.App {
  height: 90vh;
  width: 90vw;
}

.Board {
  /* object-fit: cover; */
  max-height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.CellContainer {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  border-style: solid;
  /* background-color: lightgrey; */
}

.Connector {
  grid-row: 3/4;
  grid-column: 2/3;
}

.PlayerContainer {
  /* background-color: red; */
  border-radius: 100%;
}

.GameContainer {
  height: 95%;
  width: 100%;
}

.dice {
  width: 90px;
  height: 90px;
  background-size: contain;
}

.dice.six {
  background-image: url('./six.png');
}
.dice.five {
  background-image: url('./five.png');
}
.dice.four {
  background-image: url('./four.png');
}
.dice.three {
  background-image: url('./three.png');
}
.dice.two {
  background-image: url('./two.png');
}
.dice.one {
  background-image: url('./one.png');
}
.bottom-panel {
  display: flex;
}

.turn-indicator {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}